@import "./global.scss";

.main__article{
    color: $text-color;
    z-index: -1;
}
.javascript-text{
    display: flex;
}
i{
    padding: 5px;
    color: $icon-color;
}

table{
    .error_div{
        display: flex;

        p{
            padding: 1.1rem 0 0 0.68rem;
            color: gray;
        }
    }
    h4{
        color: $primary-color;
    }
    #check1{

        margin: -0.8125rem;
    }
    label{
        margin-left: 0.8125rem;
    }
    .wrap_div{
        margin-left: 1.56rem;
        margin-top: -2.3rem;
    }
    .orange_box{
        width: 0.625rem;
        height: 0.9375rem;
        background-color: rgb(253, 135, 44);
        margin-left: -0.5rem;
        border-radius:15%;
    }
}
.nine {
    background-color: rgb(249, 234, 239);
    border-radius: 50%;
    padding: 0.375rem 0.625rem 0.375rem 0.625rem;
  }
.unresolved-nav {
    border-bottom: 0.3125rem solid purple;
  }
  body nav {
    display: flex;
  }
  body nav span {
    padding: 0.3125rem;
  }

  
